@{
    ViewBag.Title = "Our Team";
}

<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quem Somos</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->



<div class="container py-3 py-lg-5">
    <div class="fables-team my-3">
        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Nosso Grupo de Moderadores </h2>
        <div class="row">
            <div class="col-6 col-md-3 mb-4 mb-lg-5 circle-effect">
                <div class=" fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                    <img class="w-100" src="/images/member-avatar/aires.png">
                    <div class="card-body">
                        <h5 class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">AIRES DIAS<br>(airesdias)</h5>
                        <p class="font-13 fables-forth-text-color my-1">Desenvolvedor</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="mailto:aires.junior@arenafifa.com.br" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-lg-5 circle-effect">
                <div class=" fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                    <img class="w-100" src="/images/member-avatar/fernando.png">
                    <div class="card-body">
                        <h5 class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">FERNANDO NEVES<br>(nvscst)</h5>
                        <p class="font-13 fables-forth-text-color my-1">Desenvolvedor Lent&atilde;o</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="mailto:fernando.neves@arenafifa.com.br" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-lg-5 circle-effect">
                <div class=" fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                    <img class="w-100" src="/images/member-avatar/fonfon.png">
                    <div class="card-body">
                        <h5 class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">THIAGO FONSECA<br>(fonseca_rj)</h5>
                        <p class="font-13 fables-forth-text-color my-1">Moderador PRO CLUB</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="mailto:thiagofonseca_rj@hotmail.com" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-lg-5 circle-effect">
                <div class=" fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                    <img class="w-100" src="/images/member-avatar/junior.png">
                    <div class="card-body">
                        <h5 class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">JUNIOR ROBERTO<br>(juniorverde)</h5>
                        <p class="font-13 fables-forth-text-color my-1">Moderador PRO CLUB</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="mailto:juniorroberto84@hotmail.com" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-md-3 mb-4 mb-lg-5 circle-effect">
                <div class=" fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                    <img class="w-100" src="/images/member-avatar/bimonti.png">
                    <div class="card-body">
                        <h5 class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">ANDR&Eacute; BIMONTI<br>(ibra_bimonti)</h5>
                        <p class="font-13 fables-forth-text-color my-1">Moderador Geral</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="mailto:andre.bimonti@uol.com.br" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-lg-5 circle-effect">
                <div class=" fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                    <img class="w-100" src="/images/member-avatar/felipe.png">
                    <div class="card-body">
                        <h5 class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">FELIPE DOS SANTOS<br>(santossfelipe93)</h5>
                        <p class="font-13 fables-forth-text-color my-1">Moderador Geral</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="mailto:santossfelipe1993@gmail.com" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-lg-5 circle-effect">
                <div class=" fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                    <img class="w-100" src="/images/member-avatar/hugo.png">
                    <div class="card-body">
                        <h5 class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">HUGO SIQUEIRA<br>(hugosiqueira94)</h5>
                        <p class="font-13 fables-forth-text-color my-1">Moderador Geral</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="mailto:hleonardosiqueira@gmail.com" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-lg-5 circle-effect">
                <div class=" fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                    <img class="w-100" src="/images/member-avatar/ricardo.png">
                    <div class="card-body">
                        <h5 class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">RICARDO SIMOES<br>(rick_simoes)</h5>
                        <p class="font-13 fables-forth-text-color my-1">Moderador Geral</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="mailto:ricardo.asimoes@gmail.com" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6 col-md-3 mb-4 mb-lg-5 circle-effect">
                <div class=" fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                    <img class="w-100" src="/images/member-avatar/sayds.png">
                    <div class="card-body">
                        <h5 class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">SAYDS ANGEL<br>(saydsangelll)</h5>
                        <p class="font-13 fables-forth-text-color my-1">Moderador Geral &<br> Narrador PRO CLUB</p>
                        <ul class="nav fables-team-social-links">
                            <li><a href="mailto:saydsangel@gmail.com" target="_blank" title="Enivar E-mal para o Moderador."><span class="fables-iconemail fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
