@using ArenaFifa20.NET.Models
@model SubscribeBench
@{
    ViewBag.Title = "Register - Confirmation";
    string typyOfSubscribe = String.Empty;

    if (Model.checkH2H) { typyOfSubscribe += "H2H"; }
    if (Model.checkFUT) { if (typyOfSubscribe != "") { typyOfSubscribe += " e "; }  typyOfSubscribe += "FUT (Ultimate Team)"; }
    if (Model.checkPRO) { if (typyOfSubscribe != "") { typyOfSubscribe += ", "; } typyOfSubscribe += "PRO CLUB"; }

}

<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/Account/Signin" class="fables-second-text-color">Login</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->
<div class="container">
    <div class="row my-4 my-lg-5">
        <p>
            <font color="red">Sua inscrição na(s) modalidade(s): @typyOfSubscribe foi(ram) efetuada(s) com sucesso. Aguarde que logo receberá um e-mail convidando para iniciar as competições do Arena.</font> <br /><br />
            Para acompanhar basta clicar no link: @Html.ActionLink("'Banco de Reservas'", "Bench", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" }) ou na imagem do 'Banco de Reservas' em nossa página principal
            <br /><br />
            BOA SORTE!
        </p>
    </div>
    <br /><br /><br />
</div>
