@{
    ViewBag.Title = "General Regulation";
}

<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/Home" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Regulamento Geral</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->



<!-- Start page content -->
<div class="container">
    <div class="text-center">
        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento Geral </h2>
    </div>
    <!-- /.row -->
    <div class="gallery-filter">
        <div class="portfolioFilter my-3 clearfix">
            <a href="#" data-filter=".firstItemSelected" class="current fables-forth-text-color fables-second-hover-color">Competições</a>
            <a href="#" data-filter=".reg-decree" class="fables-forth-text-color fables-second-hover-color">Decretos/Lst. Negra</a>
            <a href="#" data-filter=".reg-primer" class="fables-forth-text-color fables-second-hover-color">Marcar Jogos</a>
            <a href="#" data-filter=".reg-exchange" class="fables-forth-text-color fables-second-hover-color">Troca Técnicos</a>
            <a href="#" data-filter=".reg-draw" class="fables-forth-text-color fables-second-hover-color">Sorteio</a>
            <a href="#" data-filter=".reg-points" class="fables-forth-text-color fables-second-hover-color">Pontuação</a>
        </div>
        <div class="portfolioContainer row filter-masonry">
            <div class="firstItemSelected circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento Geral das Competições </h2>

                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                O Usuário deverá se <a href="/Account/Register" style="color:rgb(243,161,0);"><b>Cadastrar</b></a> no site para participar dos campeonatos disponíveis no Arena Fifa.
                                <br><br>
                                Iniciada a temporada, os jogos serão realizados nas datas e prazos contidos no calendário. Os técnicos poderão utilizar qualquer meio de comunicação para marcarem seus jogos, porém só serão valido para análise do CONSELHO os fatos publicados no site oficial <b>www.ArenaFifa.com.br</b>.
                                <br><br>
                                Os técnicos poderão antecipar as partidas se for de comum acordo entre eles e <b>com autorização da moderação</b>. Depois de realizada a partida os técnicos não poderão voltar atrás em relação a sua decisão de antecipa-la.
                                <br><br>
                                O técnico vencedor tem a obrigação de lançar a partida completa, com o resultado e todos os artilheiros de ambos os times, em caso de empate esta obrigação fica para o mandante da partida.
                                <br><br>
                                O jogo deve ser realizado dentro de uma "Friend Season" (Amistoso OnLine) de acordo com as seguintes características:
                                <br>
                                <span style="font-size=12pt;color:rgb(243,161,0);">
                                    <b>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. DURAÇÃO DA PARTIDA (Half Length): 6 MINUTOS
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. CONTROLES (Controls): SEMI
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. VELOCIDADE DO JOGO (Game Speed): NORMAL
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. ELENCO (Squad type): ONLINE
                                    </b>
                                </span>
                                <br><br>
                                Os jogadores devem agendar, preferencialmente, com antecedência, um dia e uma hora exata para a realização da partida.&nbsp;&nbsp;&nbsp;O cancelamento de partida agendada deve ser feito com até duas horas de antecedência para que não seja considerada omissão.
                                <br><br>
                                Caso o jogo não seja realizado dentro do prazo, o CONSELHO decretará placar podendo ser empate de zero a zero ou vitória por WO para um dos técnicos.   Desta forma pode ou não, dependendo a omissão, contar pontos na Lista Negra do Arena.
                                <br><br>
                                A partir da 18a temporada quem for punido com WO perderá o jogo por 3x0.
                                <br><br>
                                Para ser decretado empate existem duas situações possíveis:
                                <br><br>
                                1 - <b>Ambos os técnicos não se manifestaram;</b>
                                <br><br>
                                2 - <b>Ambos os técnicos se manifestaram, mas o jogo não foi realizado devido a incompatibilidade de horários.</b>
                                <br><br></br>
                                Os técnicos podem adiantar as partidas desde que o jogo já esteja disponível no site, não pode adiantar um jogo de fase posterior à atual sem a fase já estiver sido gerada pelo site.   Mas este resultado só será contabilizado após a liberação da rodada, desde que <b>UM</b> dos técnicos sejam os mesmos que já haviam realizado o jogo anteriormente.   Se o dois técnicos sairam por algum motivo, seja por dispensa da temporada ou acesso de Série ou qualquer outro motivo, o resultado não será computado e a partida deverá ser realizada dentro do prazo.
                                <br><br>
                                <b>Em jogos de MataxMata com sistema de ida e volta, o técnico que perder por WO no jogo de volta, seja por omissão parcial ou total, independentemente do resultado do jogo de ida, fica automaticamente desclassificado.</b>&nbsp;&nbsp;&nbsp;Se o jogo de volta for decretado empate por incompatibilidade não entra nesta regra de punição com desclassificação.
                                <br><br>
                                <b>Em jogos de MataxMata, seja por sistema de Ida e Volta ou Apenas Ida, se o jogo ou os jogos não for(em) realizado(s) por incompatibilidade ou omissão total dos DOIS técnicos, passará o técnico de melhor campanha até aquela fase, apenas lembrando que a campanha será calculada pelo total de pontos conquistados, mas os dois serão punidos com advertência em cada jogo.&nbsp;&nbsp;&nbsp;Se for a primeira fase ou então os técnicos empatarem na soma dos pontos, passará o técnico melhor rankeado de acordo ranking geral no hall da fama.</b>&nbsp;&nbsp;&nbsp;O resultado será de 1x0 para o técnico com melhor campanha ou melhor rankeado.
                                <br><br>
                                Ao fim de cada temporada há os remanejamentos naturais de quem ganhou acesso e de quem foi rebaixado.&nbsp;&nbsp;&nbsp;Mas todos, incluve os técnicos que estão no banco de reservas, esperando uma oportunidade deverão confirmar presença na próxima temporada.&nbsp;&nbsp;&nbsp;Com a confirmação ou não pode gerar uma vaga na Série acima e assim há os remanejamentos que chamamos de <b>Tapetão</b>, são aqueles técnicos que ganharão acesso fora de campo.&nbsp;&nbsp;&nbsp;Mas é normal, quem deseja chegar na Série A para pegar um time bom, tem esta forma também de subir.&nbsp;&nbsp;&nbsp;Mas para ganhar este acesso o técnico tem que ter tido uma conduta exemplar durante a temporada, não pode ter nenhum tipo de punição, como pontos negativos na lista negra ou perda por WO ou 0x0 por omissão total ou parcial ou até mesmo qualquer tipo de advertência.
                                <br><br>
                                <b>Em Campeonatos que possuem fase de classificação antes da fase de MataxMata, seja por pontos corridos ou por grupos, na última rodada todos os times devem ter os mesmos números de jogos.&nbsp;&nbsp;&nbsp;Não é permitido em hipótese alguma um time ter menos jogos que o outro na última rodada.</b>&nbsp;&nbsp;&nbsp;A única exceção para isso ocorrer são os campeonatos por grupo que possuírem números ímpares de times, sendo assim o time que folgar na última rodada será o único que terá a quantidade máxima de jogos no grupo, todos os outros deverão ter apenas o último jogo por jogar.
                                <br><br>
                                <b>Em hipótese alguma é tolerado xingamentos com qualquer adversários, técnicos ou moderadores no site do Arena.</b>&nbsp;&nbsp;&nbsp;A primeira atitude o técnico perderá os pontos da partida idenpendentemente do resultado e tomará uma advertência, será decretado WO por conduta não desportiva.&nbsp;&nbsp;&nbsp;A segunda também será decretado WO do mesmo jeito da primeira, receberá mais uma advertência e estará fora da próxima Copa do Mundo.&nbsp;&nbsp;&nbsp;A terceira, terá punição igual a segunda mas o técnico estará excluído da temporada atual e da próxima também.
                                <br><br>
                                <b>Em hipótese alguma é tolerado pausar a partida com bola rolando.</b>&nbsp;&nbsp;&nbsp;A primeira atitude o técnico receberá uma punição referente a "Jogada Antidesportiva", se o técnico for reincidente, dependendo da situação, a moderação poderá decidir em cancelar o resultado postado e a partida terá que ser realizada novamente.&nbsp;&nbsp;&nbsp;A pausa só poderá ocorrer com a situação de bola parada, como: lateral, escanteio, falta ou até mesmo com o goleiro em posse da bola em suas mãos.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="reg-decree circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Decretos e Lista Negra </h2>

                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                O nosso trabalho é em busca dos técnicos compromissados, desta forma criamos a Lista Negra.  Esta lista irá pontuar os técnicos que cometeram algum tipo de deslize durante a marcação de seus jogos em uma temporada.  Ao final de cada Temporada esta lista é zerada.
                                <br><br>
                                <center>
                                    <table id="Grid" class="grid" cellspacing="0" border="1" cellpadding="2" style="width:25%;text-align:center;">
                                        <TR>
                                            <th class="fables-main-background-color" align=left colspan="2" width="100%" style="color:white;font-weight:bold;text-align:center;font-size:14px;cursor:default">Pontuação Lista Negra</th>
                                        </TR>
                                        <tr style='background-color:#ffffff;'>
                                            <td width="100%%" colspan="2" class="LinhasGrid" style="color:black;font-weight:bold;font-size:12px;font-family:Verdana;text-align:right;padding-right:10px;cursor:default">Pontos</td>
                                        </tr>
                                        <tr style='background-color:rgb(245,245,245);'>
                                            <td width="60%%" class="LinhasGrid" style="color:black;font-weight:normal;font-size:12px;font-family:Verdana;text-align:left;padding-left:10px;cursor:default">Advertência</td>
                                            <td width="40%%" class="LinhasGrid" style="color:black;font-weight:normal;font-size:12px;font-family:Verdana;text-align:right;padding-right:10px;cursor:default">1</td>
                                        </tr>
                                        <tr style='background-color:#ffffff'>
                                            <td width="60%%" class="LinhasGrid" style="color:black;font-weight:normal;font-size:12px;font-family:Verdana;text-align:left;padding-left:10px;cursor:default">Omissão Parcial</td>
                                            <td width="40%%" class="LinhasGrid" style="color:black;font-weight:normal;font-size:12px;font-family:Verdana;text-align:right;padding-right:10px;cursor:default">2</td>
                                        </tr>
                                        <tr style='background-color:rgb(245,245,245);'>
                                            <td width="60%%" class="LinhasGrid" style="color:black;font-weight:normal;font-size:12px;font-family:Verdana;text-align:left;padding-left:10px;cursor:default">Atitude Antidesportiva</td>
                                            <td width="40%%" class="LinhasGrid" style="color:black;font-weight:normal;font-size:12px;font-family:Verdana;text-align:right;padding-right:10px;cursor:default">3</td>
                                        </tr>
                                        <tr style='background-color:#ffffff'>
                                            <td width="60%%" class="LinhasGrid" style="color:black;font-weight:normal;font-size:12px;font-family:Verdana;text-align:left;padding-left:10px;cursor:default">Omissão Total</td>
                                            <td width="40%%" class="LinhasGrid" style="color:black;font-weight:normal;font-size:12px;font-family:Verdana;text-align:right;padding-right:10px;cursor:default">4</td>
                                        </tr>
                                    </table>
                                </center>
                                <br><br>
                                Para ser decretada vitória por WO (3x0) somente um técnico se manifestou sem obter retorno do adversário. <b><i><u>Quando um técnico chegar a 16 pontos na Lista Negra ou 3 advertências seguidas voltará para o Banco de Reservas ou até mesmo ser expulso da liga, dependendo do caso.</u></i></b>
                                <br><br>
                                É expressamente proíbido durante a realização da partida qualquer tipo de cera do técnico.&nbsp;&nbsp;&nbsp;É caracterizado cera aquele técnico que ficar utilizando do anti-jogo, por ex.: ficar tocando lá em sua área com os zagueiros para fazer o tempo passar, ir ao meio de campo diversas vezes e recuar a bola para o goleiro.&nbsp;&nbsp;&nbsp;Tal atitude será caracterizada como anti-desportiva e o grupo de moderadores poderá decidir por apenas perda dos pontos, apenas perda dos pontos com advertência por Omissão Total ou até mesmo exclusão da temporada indo diretamente para o fim do banco de reservas.&nbsp;&nbsp;&nbsp;Mas para caracterizarmos como atidute anti-desportiva deveremos ter um material concreto em nossas mãos para que possamos analisar a conduta do técnico, este material pode ser a gravação da partida ou de uma parte da partida, só assim teremos condições de avaliarmos e decretarmos que houve ou não cera por parte de um dos técnicos.
                                <br><br>
                                <span style="font-weight:bold; color:rgb(243,161,0);" ra-amerelo-ouro">Regra dos Adiamentos</span> - Os adiamentos devem ser solicitados com o máximo de antecedência possível. Porém, independente da data de solicitação, eles estarão sujeitos à avaliação da moderação, que pode ou não aceitar o adiamento. &nbsp;&nbsp;&nbsp;Diferente de outras temporadas, é possível o pedido de adiamento no último dia. No entanto, também de forma alternativa às demais temporadas, as análises de adiamento serão mais rigorosas, com mais casos de rejeição do pedido.
                                <br><br>
                                <span style="font-weight:bold; color:rgb(243,161,0);">Regra da Última Rodada</span> - Os adiamentos só serão concedidos até a penúltima rodada de cada campeonato, seja por grupos ou pontos corridos.&nbsp;&nbsp;&nbsp;A última rodada todos os times terão que ter o mesmo número de jogos.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="reg-primer circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Cartilha para Marcar Jogos em Todos Campeonatos Disponibilizados </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                <b><u>Cartilha a ser seguida para ter um bom resultado na marcação dos jogos:</u></b>
                                <br><br><br>
                                <span style="font-weight:bold; color:rgb(243,161,0);">Prazo de agendamento</span> - Procure marcar os jogos com antecedência. &nbsp;&nbsp;&nbsp;Marcar o jogo para o mesmo dia da postagem pode ser insuficiente para que o adversário veja a proposta, não dando assim tempo para a confirmação do agendamento.
                                <br><br>
                                <span style="font-weight:bold; color:rgb(243,161,0);">Qualidade nos contatos</span> - A objetividade no agendamento é um dos fatores mais importantes no agendamento.&nbsp;&nbsp;&nbsp; Colocando seus possíveis horários disponíveis já no primeiro post ajuda o adversário a já propor um dia e hora para jogarem e a solicitar um adiamento caso seja necessário.
                                <br><br>
                                <span style="font-weight:bold; color:rgb(243,161,0);">Tempestividade nos contatos</span> - Procure fazer o primeiro contato nos dois primeiros dias do prazo. &nbsp;&nbsp;&nbsp;Quando o primeiro contato acontece no terceiro dia, você estará diminuindo o prazo pelo menos pela metade e isso poderá ser julgado como omissão parcial. &nbsp;&nbsp;&nbsp;Procure também responder a proposta de agendamento do seu adversário o quanto antes. &nbsp;&nbsp;&nbsp;Deixar o adversário esperando por mais de 36 horas também pode ser caracterizado como omissão parcial. &nbsp;&nbsp;&nbsp;A resposta rápida ajuda o técnico a se programar melhor. &nbsp;&nbsp;&nbsp;Receberá SEMPRE um e-mail a cada comentário postado, no tópico do jogo, que seu time está relacionado.
                                <br><br>
                                <span style="font-weight:bold; color:rgb(243,161,0);">Informação de Partida Realizada</span> - A obrigação da informação do resultado e dos artilheiros das duas equipes é do técnico vencedor, se houver empate a obrigação é toda do mandante do jogo, entende-se como mandante o técnico do time da esquerda.&nbsp;&nbsp;&nbsp;Se a informação não estiver completa, como falta dos artilheiros de um dos times, o técnico, conforme a regra informada, será punido com advertência contando de forma negativa para futuros acessos e/ou campeonatos.
                            </p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="reg-exchange circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Sistema de Troca de Técnicos </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                A troca de técnico deve-se a três fatores, ou o técnico pede para sair por motivos particulares ou ele atinge o limite de pontos na lista negra ou ele toma 3 WOs seguidos.
                                <br><br>
                                Desta forma, são feitos os seguintes procedimentos:
                                <br><br>
                                <br>
                                <b><u>1) Abriu Vaga na Série D:</u></b>
                                <br>
                                O Moderador responsável pela troca de técnico utiliza a lista do Banco de Reservas e envia um e-mail convite para os dois primeiros da lista, estes tem 24 horas para responderem o e-mail.
                                &nbsp;&nbsp;&nbsp;Ao fim deste prazo, se ninguém respondeu é mandado novamente o e-mail convite para os dois próximos da lista (neste caso o 3º e o 4º) e terão mais 24 horas para responder.
                                &nbsp;&nbsp;&nbsp;Encerrando este novo prazo e apenas o 4º da lista que respondeu é ele que ganhará a vaga para iniciar sua trajetória no Arena, pois a Série D é a porta de entrada do fifeiro no ArenaFifa.
                                <br><br>
                                <b>ATENÇÃO:</b>&nbsp;&nbsp;No caso acima, os três primeiros da lista, que não responderam, terão mais uma chance.
                                &nbsp;&nbsp;&nbsp;Quando abrir uma nova vaga eles serão chamados, caso não respondam novamente, sairão da lista e terão que fazer, de novo, o pedido para ingressar no Banco de Reservas.
                                <br><br>
                                <br>
                                <b><u>2) Abriu Vaga na Série C:</u></b>
                                <br>
                                Neste caso o trabalho para a Moderação já começa a ficar um pouco mais oneroso.
                                &nbsp;&nbsp;&nbsp;O Moderador utiliza a lista da Série D que se encontra no Hall da Fama e manda o e-mail para o primeiro desta lista que NÃO possui pontos negativos na Lista Negra, pois se é integrante não poderá ganhar acesso apenas subirá no campo.
                                &nbsp;&nbsp;&nbsp;Este e-mail convite tem o mesmo critério, é esperado 24 horas para responder, caso não responda é enviado um novo e-mail para o próximo da lista nestas condições, isso continua até que algum técnico responda.
                                <br><br>
                                Paralelamente a tentativa de preencher a vaga da Série C, é realizado o mesmo procedimento já mencionado no item 1 (Vaga na Série D).
                                <br>
                                <br><br>
                                <b><u>3) Abriu Vaga na Série B:</u></b>
                                <br>
                                &nbsp;&nbsp;&nbsp;O Moderador utiliza a lista da Série C que se encontra no Hall da Fama e manda o e-mail para o primeiro desta lista que NÃO possui pontos negativos na Lista Negra, pois se é integrante não poderá ganhar acesso apenas subirá no campo.
                                &nbsp;&nbsp;&nbsp;Este e-mail convite tem o mesmo critério, é esperado 24 horas para responder, caso não responda é enviado um novo e-mail para o próximo da lista nestas condições, isso continua até que algum técnico responda.
                                <br><br>
                                Paralelamente a tentativa de preencher a vaga da Série B, é realizado o mesmo procedimento já mencionado no item 1 e 2 (Vaga na Série C).
                                &nbsp;&nbsp;&nbsp;Preenche a vaga da 2ª com integrante da 3ª, e por fim deve preencher a vaga da 4ª com quem está no Banco de Reservas.
                                <br>
                                <br><br>
                                <b><u>4) Abriu Vaga na Série A:</u></b>
                                <br>
                                Este é o pior caso, pois altera as 3 divisões do Arena e é bem mais oneroso nosso trabalho.
                                &nbsp;&nbsp;&nbsp;O Moderador utiliza a lista da Série B que se encontra no Hall da Fama e manda o e-mail para o primeiro desta lista que NÃO possui pontos negativos na Lista Negra, pois se é integrante não poderá ganhar acesso apenas subirá no campo.
                                &nbsp;&nbsp;&nbsp;Este e-mail convite tem o mesmo critério, é esperado 24 horas para responder, caso não responda é enviado um novo e-mail para o próximo da lista nestas condições, isso continua até que algum técnico responda.
                                <br><br>
                                Paralelamente a tentativa de preencher a vaga da Série A, é realizado o mesmo procedimento já mencionado nos itens 1, 2 e 3 (Vaga na Série C e Vaga na Série B respectivamente), pois isso é uma 'cadeia', preenche a vaga da 1ª com integrante da 2ª, assim abre uma vaga nesta Série.
                                &nbsp;&nbsp;&nbsp;Preenche a vaga da 2ª com integrante da 3ª, preenche a vaga da 3ª com integrante da 2ª, e por fim deve preencher a vaga da 4ª com quem está no Banco de Reservas.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="reg-draw circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Sorteio dos Times para Todos os Campeonatos Disponibilizados </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                Ao fim de cada temporada há o remanejamento normal dos técnicos com relação ao acesso e ao rebaixamento.&nbsp;&nbsp;É enviado um e-mail pedindo que o técnico renove para a próxima temporada, pois tem quem queira desistir ou por problemas particulares ou qualquer outros problemas.
                                <br><br>
                                Desta forma, após a renavação e o fim dos campeonatos referentes as divisões, são montadas as listas de técnicos para todos os campeonatos que serão disputados respeitando sempre as divisões que estão divididos.
                                <br><br>
                                Com as listas de técnicos fechadas levantamos todos os times de cada Série e analisamos suas forças, um a um, e os itens que também são levados em consideração são as contratações ou venda de jogadores, além é claro do overrall de cada time.&nbsp;&nbsp;Terminado isso, temos todos os times e técnicos para cada campeonato e só nos resta agora realizar o sorteio pois todos já ficam eufóricos para saber qual será o novo time que irá treinar nos próximos 4 meses.
                                <br><br>
                                <b>Atenção:&nbsp;<i>A copa do Mundo é disputada em 3 em 3 temporadas, serão sempre 32 seleções e os técnicos serão os 32 melhores colocados no Ranking do Hall da Fama.</i></b>
                                <br><br>
                                <br>
                                <b>Como é feito o <b>Sorteio Manual</b> dos Times & Técnicos?</b>
                                <br>
                                &nbsp;&nbsp;&nbsp;<u>Os Sorteios das Divisões são efetuados da seguinte forma:</u> Pega cada nome de técnico e coloca em uma "bola pequena", todos estes ficarão em uma cuba.  Depois faz o mesmo com o nome dos times e os coloca em um outra cuba.&nbsp;&nbsp;Assim será sorteado primeiramente o técnico e logo em seguida o time que irá treinar, o acompanhamento deste tipo de sorteio é online em uma tela que será disponbilizada no dia do sorteio em nossa página principal.
                                <br>
                                <b>Obs:&nbsp;<i>O Sorteio é idêntico para a Copa do Mundo apenas a mudança da quantidade, ao invés de serem 20 são 32.</i></b>
                                <br><br>
                                <br>
                                <b>Como é feito o <b>Sorteio Manual</b> dos Grupos?</b>
                                <br>
                                &nbsp;&nbsp;&nbsp;<u>Os Sorteios dos Grupos são efetuados nos mesmos moldes do Sorteio real da Copa do Mundo:</u> Todos os Técnicos já sabem quais os times ou seleções que estarão treinando pois vale o Sorteio efetuado na respectiva Série.  Os times ou seleções são divididos em Potes com a quantidade igual a quantidade de grupos.  Teremos um pote referente aos cabeças-de-chave, no caso da Copa do Mundo teremos também: Pote das Américas, da África, Asia e Oceania e da Europa.   Já na Liga dos Campeões e da Europa, é por overal de times.
                                <br><br>
                                <br>
                                <b>Como é feito o <b>Sorteio Automático</b> dos Times & Técnicos?</b>
                                <br>
                                &nbsp;&nbsp;&nbsp;<u>Os Sorteios das Divisões são efetuados da seguinte forma:</u> Pega os 20 Técnicos ordenados por ordem alfabética e sorteia aleatóriamente 20 números de 1 a 20, depois pega os 20 times e faz a mesma coisa, sorteia um número para cada time.&nbsp;&nbsp;Desta forma o Técnico que obter o número "1" treinará o time que obter o número "1", o que obter o número "2" treinará o time que obter o número "2", assim continua até completar os 20.
                                <br>
                                <b>Obs:&nbsp;<i>O Sorteio é idêntico para a Copa do Mundo apenas a mudança da quantidade, ao invés de serem 20 são 32.</i></b>
                                <br><br>
                                <br>
                                <b>Como é feito o Sorteio Automático dos Grupos?</b>
                                <br>
                                &nbsp;&nbsp;&nbsp;<u>Os Sorteios dos Campeonatos que são divididos em Grupos são efetuados da seguinte forma:</u> Os 20 Técnicos já sabem quais os times estão treinados pois vale o Sorteio efetuado na respectiva Série.&nbsp;&nbsp;Pega os times ordenados por ordem alfabética e sorteia um número para eles de 1 até o total de times que estão no Campeonato, assim ordena novamente os times por estes números sorteados e vai colocando nos grupos, por ex.: se cada grupo terão 4 times, os times sorteados de 1 a 4 ficam no Grupo 1, de 5 a 8 ficam no 2, assim continua até completar o total de grupos..
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="reg-points circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Sistema de Pontuação por Jogo </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                O sistema de Pontuação de cada jogo:
                                <br><br>
                                1 - <span style="color:rgb(243,161,0);"><b>VITÓRIA:</span></b><br> são somados <span style="color:black;"><b>03 pontos para o vencedor.</b></span>
                                <br><br>
                                2 - <span style="color:rgb(243,161,0);"><b>EMPATE:</span></b><br> é somado <span style="color:black;"><b>01 ponto para cada participante.</b></span>
                                <br><br>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<br><br><br><br>
