<br />
<!-- Start Footer 2 Background Image  -->
<div class="fables-footer-image fables-after-overlay white-color py-4 py-lg-5 bg-rules" style="background-image: url(/images/FIFA-19-DEMO_FOOTER_v2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <a href="#" class="fables-second-border-color border-bottom pb-3 d-block mb-3 mt-minus-13"><img src="/images/arenafifa20.jpg" width="100" title="Arena Fifa 2.0"></a>
                <p class="font-15 fables-third-text-color" style="text-align:justify">
                    Nosso site tem como objetivo despertar o interesse das pessoas em se divertir de forma sadia, onde você possa competir com v&aacute;rias pessoas. Uma brincadeira entre amigos e decidimos colocar na web nossas id&eacute;ias, desta forma nasceu o ARENA FIFA.
                    <br><br>
                    <b>Nossa Miss&atilde;o:</b> "Prover divers&atilde;o dentro de uma regulamenta&ccedil;&atilde;o visando a satisfa&ccedil;&atilde;o de todos os participantes".
                    <br><br>
                    <b>Nossos Valores:</b>
                    <br>
                    - Respeito &agrave;s pessoas;
                    <br>
                    - Postura &eacute;tica e transparente;
                    <br>
                    - Comprometimento de todos com o resultado.
                </p>

            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <h2 class="font-20 semi-font fables-second-border-color border-bottom pb-3">Nosso Contato</h2>
                <div class="my-3">
                    <h4 class="font-16 semi-font"><span class="fables-iconemail fables-second-text-color pr-2 font-20 mt-1 d-inline-block"></span> Mail </h4>
                    <p class="font-14 fables-fifth-text-color mt-2 ml-4">moderadoresarena@arenafifa.com.br</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <h2 class="font-20 semi-font fables-second-border-color border-bottom pb-3 mb-3">EXPLORE NOSSO SITE</h2>
                <ul class="nav fables-footer-links">
                    <li><a href="/Account/Register">Quero Participar</a></li>
                    <li><a href="/Regulation/General">Regulamentos Geral</a></li>
                    <li><a href="/Ranking/Summary">Ranking Arena</a></li>
                    <li><a href="/HallOfFame/Summary">Hall da Fama</a></li>
                    <li><a href="/Home/OurTeam">Quem Somos</a></li>
                    <li><a href="/Home/ContactUs">Fale Conosco</a></li>
                </ul>
            </div>

        </div>

    </div>
</div>
<div class="copyright fables-main-background-color mt-0 border-0 white-color">
    <ul class="nav fables-footer-social-links just-center fables-light-footer-links">
        <li><a href="http://www.facebook.com/arena.fifa" target="_blank"><i class="fab fa-facebook" title="Facebook - ArenaFifa"></i></a></li>
        <li><a href="https://twitter.com/ArenaFIFA" target="_blank"><i class="fab fa-twitter-square" title="Twitter - ArenaFifa"></i></a></li>
    </ul>
    <p class="mb-0">Copyright © ArenaFifa 2012. Todos os direitos reservados.</p>

</div>

<!-- /End Footer 2 Background Image -->
