<div class="gentelella-col-md-3 gentelella-left_col">
    <div class="gentelella-left_col gentelella-scroll-view" style="width:250px">
        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="gentelella-main_menu_side gentelella-hidden-print gentelella-main_menu">
            <div class="gentelella-menu_section">
                <a href="/Moderator/Summary" title="Retornar para o Sumário"><h3>MENU MODERADOR</h3></a>
                <ul class="gentelella-nav gentelella-side-menu">
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-table"></i> CADASTROS<br> BÁSICOS <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/Moderator/User">Técnicos</a></li>
                            <li><a href="/Moderator/Team">Times</a></li>
                            <li><a href="/Moderator/ScorerH2H">Artilheiros - H2H</a></li>
                            <li><a href="/Moderator/ScorerPRO">Artilheiros - PRO CLUB</a></li>
                            <li><a href="/Moderator/Championship">Campeonatos</a></li>
                            <li><a href="/Moderator/Seasons">Temporadas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-desktop"></i> CADASTROS ADMINISTRATIVOS <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/Moderator/Bench">Banco de Reservas</a></li>
                            <li><a href="launch-result.html">Lançar Resultado</a></li>
                            <li><a href="generate-new-stage.html">Gerar Fase</a></li>
                            <li><a href="/Moderator/Blog">Blogs</a></li>
                            <li><a href="/Moderator/SpoolerSummary">Spooler</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-sitemap"></i> CADASTROS NOVA TEMPORADA <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/Moderator/Draw">Sorteio</a></li>
                            <li><a href="/Moderator/AcceptingNewSeason">Confirmações</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

    </div>
</div>
