<div class="gentelella-col-md-3 gentelella-left_col">
    <div class="gentelella-left_col gentelella-scroll-view" style="width:250px">
        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="gentelella-main_menu_side gentelella-hidden-print gentelella-main_menu">
            <div class="gentelella-menu_section">
                <a href="/HallOfFame/Summary" title="Retornar para o Sumário"><h3>HALL DA FAMA</h3></a>
                <ul class="gentelella-nav gentelella-side-menu">
                    <li id="liRenewNextSeason">
                        <a><i class="gentelella-fa gentelella-fa-table" style="color:red"></i> NOVA TEMPORADA <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/HallOfFame/RenewalH2H">Renovações H2H</a></li>
                            <li><a href="/HallOfFame/RenewalFUT">Renovações FUT</a></li>
                            <li><a href="/HallOfFame/RenewalPRO">Renovações PRO CLUB</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-file-text-o"></i> REGULAMENTO <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/HallOfFame/GeneralRegulation">Regulamento Geral</a></li>
                            <li><a href="/HallOfFame/ChampionshipScoringRegulation">Pontuação Por Campeonato</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-list-alt"></i> LISTA NEGRA <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/HallOfFame/GeneralBlackList">Lista Geral</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-table"></i> H2H <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/HallOfFame/AchievementsH2H">Conquistas Por Campeonato</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-desktop"></i> FUT <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/HallOfFame/AchievementsFUT">Conquistas Por Campeonato</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="gentelella-fa gentelella-fa-sitemap"></i> PRO CLUB <span class="gentelella-fa gentelella-fa-chevron-down"></span></a>
                        <ul class="gentelella-nav gentelella-child_menu">
                            <li><a href="/HallOfFame/AchievementsPRO">Conquistas Por Campeonato</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

    </div>
</div>
