<div class="fables-navigation fables-main-background-color py-3 py-lg-0">
    <div class="container">
        <div class="row" style="white-space:nowrap;">
            <div class="col-12 col-md-10 pr-md-0">
                <nav class="navbar navbar-expand-md btco-hover-menu py-lg-2" style="vertical-align:middle">

                    <span class="navbar-brand fables-logo-brand pl-0"><img src="/images/arenafifa20.jpg" width="150" class="fables-logo"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fablesNavDropdown" aria-controls="fablesNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fables-iconmenu-icon text-white font-16"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="fablesNavDropdown">

                        <ul class="navbar-nav mx-auto fables-nav">
                            <li>
                                <a class="nav-link" href="/Home" id="sub-nav1">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="/Account/Register" id="sub-nav1">
                                    Quero Participar
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="sub-nav2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Regulamentos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="sub-nav2">
                                    <li><a class="dropdown-item" href="/Regulation/General">Regulamento Geral</a></li>
                                    <li><a class="dropdown-item" href="/Regulation/H2H">Regulamento Campeonatos H2H</a></li>
                                    <li><a class="dropdown-item" href="/Regulation/FUT">Regulamento Campeonatos FUT</a></li>
                                    <li><a class="dropdown-item" href="/Regulation/PRO">Regulamento Campeonatos PRO CLUB</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="sub-nav2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ranking, Fama & Banco
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="sub-nav1">
                                    <li><a class="dropdown-item" href="/dashboard-ranking/dashboard-ranking-summary.html">Ranking Atual & Geral</a></li>
                                    <li><a class="dropdown-item" href="/dashboard-hall-of-fame/summary.html">Hall Da Fama</a></li>
                                    <li><a class="dropdown-item" href="/bench.html">Banco de Reservas</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="sub-nav2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Contato
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="sub-nav1">
                                    <li><a class="dropdown-item" href="/Home/OurTeam">Quem Somos</a></li>
                                    <li><a class="dropdown-item" href="/Home/ContactUs">Fale Conosco</a></li>
                                </ul>
                            </li>
                            <li class="nav-link" href="/dashboard-moderator-menu/summary.html" id="sub-nav1">
                                Moderador
                            </li>
                        </ul>
                        <div class="fables-header-icons text-center">
                            <a href="/Account/Signin" class="fables-third-text-color fables-second-hover-color font-10 top-header-link px-3 px-md-2 px-lg-4">
                                <span class="fables-iconuser-register fa-2x" title="Faça o login"></span><br><span title="Faça o login">Login Arena</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
