<div class="modal fade" id="bs-result-modal-sm" tabindex="-1" role="dialog" aria-labelledby="modalScreeenResultTitle" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="gentelella-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#120;</span>
				</button>
				<h4 class="gentelella-modal-title" id="modalScreeenResultTitle">...</h4>
			</div>
			<div class="gentelella-modal-body">
				<h4 id="modalScreeenResultSubTitle">...</h4>
				<p id="modalScreeenResultMessage">...</p>
			</div>
			<div class="gentelella-modal-footer">
				<button type="button" id="modalScreeenOKButton" class="gentelella-btn gentelella-btn-info" data-dismiss="modal">OK</button>
			</div>

		</div>
	</div>
</div>
