@using ArenaFifa20.NET.Models
@model LoginViewModel
@{
    ViewBag.Title = "Change Password - Confirmation";
}

<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/Account/Signin" class="fables-second-text-color">Login</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->
<div class="container">
    <div class="row my-4 my-lg-5">
        <p>
            Sua senha foi alterada com sucesso. Por favor @Html.ActionLink("click aqui", "Signin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) para fazer o login novamente.
        </p>
    </div>
    <br /><br /><br />
</div>
