@{
    ViewBag.Title = "Hall Of Fame - General Regulation";
}


<!-- page content -->
<div class="gentelella-right_col" role="main" style="padding-left:50px">
    <div class="gentelella-page-title">
        <div class="gentelella-col-md-12 gentelella-col-sm-6 gentelella-col-xs-12">
            <h3>HALL DA FAMA - REGULAMENTO GERAL</h3>
        </div>
    </div>

    <div class="gentelella-x_content">

        <div class="gentelella-row">
            <div class="gentelella-col-md-6 gentelella-col-sm-12 gentelella-col-xs-12">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_content">

                        <span style="color:steelblue;text-align:justify;font-size:16px;font-weight:bold" class="gentelella-title_left">
                            1. REGRAS GERAIS
                        </span>
                        <div class="gentelella-ln_solid"></div>
                        <p class="text-align:justify;font-size:12px">
                            1.1 O ranking é atualizado ao término de cada temporada. <br><br>
                            1.2 Serão computados pontos no ranking somente os treinadores que estiverem disputando ao menos um campeonato na Arena FIFA. <br><br>
                            1.3 A pontuação é contabilizada conforme vitórias, empates, classificações a próxima fase e colocação final do treinador: De cada campeonato na Arena FIFA.
                        </p>
                    </div>
                </div>
            </div>
            <div class="gentelella-col-md-6 gentelella-col-sm-12 gentelella-col-xs-12">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_content">

                        <span style="color:steelblue;text-align:justify;font-size:16px;font-weight:bold" class="gentelella-title_left">
                            2. CAMPEONATOS CLASSIFICATÓRIAS + ELIMINATÓRIAS
                        </span>
                        <div class="gentelella-ln_solid"></div>
                        <p class="text-align:justify;font-size:12px">
                            2.1 A contabilização dos pontos para a fase de grupos é da seguinte forma: times classificados para a próxima fase terão um peso maior na pontuação. <br><br>
                            2.2 Na fase de mata-mata a pontuação é contabilizada conforme passagem de fase.
                        </p>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="gentelella-row">
            <div class="gentelella-col-md-6 gentelella-col-sm-12 gentelella-col-xs-12">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_content">

                        <span style="color:steelblue;text-align:justify;font-size:16px;font-weight:bold" class="gentelella-title_left">
                            3. DIVISÃO POR CAMPEONATO DE H2H
                        </span>
                        <div class="gentelella-ln_solid"></div>
                        <p class="text-align:justify;font-size:12px">
                            3.1 Campeonatos com maior peso em pontuação
                        <p>COPA DO MUNDO e SUPER COPA EUROPA <br>LIGA DOS CAMPEÕES e COPA UEFA <br>SÉRIE A</p>
                        <br>
                        3.2 Campeonatos com menor peso em pontuação
                        <p>LIGA EUROPA <br>SÉRIE B  <br>SÉRIE C</p>
                        </p>

                    </div>
                </div>
            </div>
            <!-- /upload  -->
            <div class="gentelella-col-md-6 gentelella-col-sm-12 gentelella-col-xs-12">
                <div class="gentelella-x_panel">
                    <div class="gentelella-x_content">

                        <span style="color:steelblue;text-align:justify;font-size:16px;font-weight:bold" class="gentelella-title_left">
                            4. DIVISÃO POR CAMPEONATO DE PRO CLUB & FUT
                        </span>
                        <div class="gentelella-ln_solid"></div>
                        <p class="text-align:justify;font-size:12px">
                            4.1 Campeonatos com maior peso em pontuação de PRO CLUB
                        <p>COPA PRO CLUB  <br>SÉRIE A</p>
                        <br>
                        4.2 Campeonatos com maior peso em pontuação de FUT (Ultimate Team)
                        <p>COPA FUT  <br>SÉRIE A  <br>SÉRIE B</p>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            <!-- /mobile  -->
        </div>
    </div>
</div>
<!-- /page content -->

@section Scripts {
    <script>
        $(function () {
            if (detectMobileDevice() == 1) {
                //$("#includedContentMenuMobile").load("/arena20/includes/menu-logged-mobile.html");
                //$("#includedContentMenuRankingMobile").load("menu-my-matches-mobile.html");
                hidden_show_ObjectMobile("footerMobile", "block");
            }
            if ('@ViewBag.inRenewNextSeason' == '1')
                $("#liRenewNextSeason").show();
            else
                $("#liRenewNextSeason").hide();
        });

        $(document).ready(function () {
            if ('@TempData["returnMessage"]' != '')
                toastr.error('Aviso: @TempData["returnMessage"].');

            if (detectMobileDevice() == 0)
                activeSidebarMenu(window.location.pathname);
        });

    </script>
}

