@{
    ViewBag.Title = "General Regulation";
}

<!-- Start Breadcrumbs -->
<div class="fables-light-background-color">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                <li class="breadcrumb-item"><a href="/Arena20/Home" class="fables-second-text-color">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Regulamento das Competições de H2H</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /End Breadcrumbs -->
<!-- Start page content -->
<div class="container">
    <div class="text-center">
        <img src="/Arena20/images/logo-H2H-white.jpg" width="100" /><br />
        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento das Competições de H2H </h2>
    </div>

    <!-- /.row -->
    <div class="gallery-filter">
        <div class="portfolioFilter my-3 clearfix">
            <a href="#" data-filter=".firstItemSelected" class="current fables-forth-text-color fables-second-hover-color">Série A</a>
            <a href="#" data-filter=".serieb" class="fables-forth-text-color fables-second-hover-color">Série B</a>
            <a href="#" data-filter=".seriec" class="fables-forth-text-color fables-second-hover-color">Série C</a>
            <a href="#" data-filter=".ligacamp" class="fables-forth-text-color fables-second-hover-color">Liga dos Campeões</a>
            <a href="#" data-filter=".ligaeuropa" class="fables-forth-text-color fables-second-hover-color">Liga Europa</a>
            <a href="#" data-filter=".copauefa" class="fables-forth-text-color fables-second-hover-color">Copa Uefa</a>
            <a href="#" data-filter=".supercopa" class="fables-forth-text-color fables-second-hover-color">Super Copa</a>
        </div>
        <div class="portfolioContainer row filter-masonry">
            <div class="firstItemSelected circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento da Série A </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                Composto por 20 times dividido em 4 fase(s).
                                <br><br>
                                Na primeira fase os 20 times se enfrentam em turno único, formando 19 rodadas. Os 8 melhores classificados ao fim da 19ª rodada se classificam para a próxima fase.
                                <br>
                                Neste Campeonato os 4 últimos colocados serão rebaixados automaticamente para a série inferior.
                                <br><br>
                                <b>O Critério de desempate na primeira fase segue a seguinte ordem:</b>
                                <br>
                                - Pontos Ganhos
                                <br>
                                - Número de Vitórias
                                <br>
                                - Saldo de Gols
                                <br>
                                - Gols Pró
                                <br>
                                - Gols Contra
                                <br>
                                - Confronto Direto
                                <br>
                                - Jogo Extra
                                <br><br><br>
                                Nas fases seguintes os times se enfrentam em sistema de mata-mata, em jogos apenas de ida, com vantagem de empate no jogo extra para o time de melhor campanha na primeira fase, mandante do jogo, conforme a regra abaixo.
                                <br>
                                1º X 8º
                                <br>
                                2º X 7º
                                <br>
                                3º X 6º
                                <br>
                                4º X 5º
                                <br><br><br>
                                <b>Regra das fases eliminatórias:</b>
                                <br><br>
                                Nas Fases de mata-mata os jogos serão apenas de ida, devem ser realizados da mesma forma que foram na Fase de Classificação.
                                <br>
                                Se houver empate deverá ser realizado um jogo extra da mesma forma que o primeiro jogo foi realizado. Persistindo empate na 2ª partida, time de melhor campanha na Fase de Classificação estará classificado.
                                <b><u>O resultado final da partida a ser lançado será o agregado dos placares das partidas que forem realizadas.</u></b>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="serieb circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento da Série B </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                Composto por 20 times dividido em 4 fase(s).
                                <br><br>
                                Na primeira fase os 20 times se enfrentam em turno único, formando 19 rodadas. Os 8 melhores classificados ao fim da 19ª rodada se classificam para a próxima fase.
                                <br>
                                Neste Campeonato os 4 últimos colocados serão rebaixados automaticamente para a série inferior.
                                <br>
                                Neste Campeonato os 4 semi-finalistas terão automaticamente acesso para a série superior.
                                <br><br>
                                <b>O Critério de desempate na primeira fase segue a seguinte ordem:</b>
                                <br>
                                - Pontos Ganhos
                                <br>
                                - Número de Vitórias
                                <br>
                                - Saldo de Gols
                                <br>
                                - Gols Pró
                                <br>
                                - Gols Contra
                                <br>
                                - Confronto Direto
                                <br>
                                - Jogo Extra
                                <br><br><br>
                                Nas fases seguintes os times se enfrentam em sistema de mata-mata, em jogos apenas de ida, com vantagem de empate no jogo extra para o time de melhor campanha na primeira fase, mandante do jogo, conforme a regra abaixo.
                                <br>
                                1º X 8º
                                <br>
                                2º X 7º
                                <br>
                                3º X 6º
                                <br>
                                4º X 5º
                                <br><br><br>
                                <b>Regra das fases eliminatórias:</b>
                                <br><br>
                                Nas Fases de mata-mata os jogos serão apenas de ida, devem ser realizados da mesma forma que foram na Fase de Classificação.
                                <br>
                                Se houver empate deverá ser realizado um jogo extra da mesma forma que o primeiro jogo foi realizado. Persistindo empate na 2ª partida, time de melhor campanha na Fase de Classificação estará classificado.
                                <b><u>O resultado final da partida a ser lançado será o agregado dos placares das partidas que forem realizadas.</u></b>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="seriec circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento da Série C </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                Composto por 16 times dividido em 4 fase(s).
                                <br><br>
                                Na primeira fase os 16 times se enfrentam em turno único, formando 15 rodadas. Os 8 melhores classificados ao fim da 15ª rodada se classificam para a próxima fase.
                                <br>
                                Neste Campeonato os 4 semi-finalistas terão automaticamente acesso para a série superior.
                                <br><br>
                                <b>O Critério de desempate na primeira fase segue a seguinte ordem:</b>
                                <br>
                                - Pontos Ganhos
                                <br>
                                - Número de Vitórias
                                <br>
                                - Saldo de Gols
                                <br>
                                - Gols Pró
                                <br>
                                - Gols Contra
                                <br>
                                - Confronto Direto
                                <br>
                                - Jogo Extra
                                <br><br><br>
                                Nas fases seguintes os times se enfrentam em sistema de mata-mata, em jogos apenas de ida, com vantagem de empate no jogo extra para o time de melhor campanha na primeira fase, mandante do jogo, conforme a regra abaixo.
                                <br>
                                1º X 8º
                                <br>
                                2º X 7º
                                <br>
                                3º X 6º
                                <br>
                                4º X 5º
                                <br><br><br>
                                <b>Regra das fases eliminatórias:</b>
                                <br><br>
                                Nas Fases de mata-mata os jogos serão apenas de ida, devem ser realizados da mesma forma que foram na Fase de Classificação.
                                <br>
                                Se houver empate deverá ser realizado um jogo extra da mesma forma que o primeiro jogo foi realizado. Persistindo empate na 2ª partida, time de melhor campanha na Fase de Classificação estará classificado.
                                <b><u>O resultado final da partida a ser lançado será o agregado dos placares das partidas que forem realizadas.</u></b>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ligacamp circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento da Liga Dos Campeões da Europa </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                Composto por 40 times dividido em 5 fases.
                                <br><br>
                                Na fase de classificação os 40 times serão divididos em 8 grupos. Os times enfrentam times do mesmo grupo em turno e returno, formando 10 rodadas. Os 2 primeiros colocados de cada grupo, ao fim da 10ª rodada, estarão classificados para a próxima fase.
                                <br><br>
                                <b>O Critério de desempate na primeira fase segue a seguinte ordem:</b>
                                <br>
                                - Pontos Ganhos
                                <br>
                                - Número de Vitórias
                                <br>
                                - Saldo de Gols
                                <br>
                                - Gols Pró
                                <br>
                                - Gols Contra
                                <br>
                                - Confronto Direto
                                <br>
                                - Jogo Extra
                                <br><br><br>
                                Nas fases seguintes os times se enfrentam em sistema de mata-mata, em jogos de ida e volta, sem qualquer tipo de vantagem para um dos times. Entende-se como mandante do primeiro jogo o time de pior campanha na primeira fase.
                                <br>
                                1º X 16º
                                <br>
                                2º X 15º
                                <br>
                                3º X 14º
                                <br>
                                4º X 13º
                                <br>
                                5º X 12º
                                <br>
                                6º X 11º
                                <br>
                                7º X 10º
                                <br>
                                8º X 9º
                                <br><br><br>
                                <b>O Critério de desempate na segunda fase segue a seguinte ordem:</b>
                                <br>
                                - Pontos Ganhos no confronto
                                <br>
                                - Saldo de gols
                                <br>
                                - Gols marcados na casa do adversário
                                <br>
                                - Jogo Extra
                                <br><br><br>
                                <b>Regra das fases eliminatórias:</b>
                                <br><br>
                                Nas Fases de mata-mata os jogos serão de ida e volta, devem ser realizados da mesma forma que foram na Fase de Classificação.    Os gols feitos como visitante, ou seja, os gols feitos na casa do mandante, terá peso para decidir quem se classificará se ao fim dos dois jogos houve igualdade nos placares.    Se empataram em tudo, saldo de gols e gols como mandante, deverá ser realizado um jogo extra da mesma forma que o primeiro jogo foi realizado (obs.: no jogo extra não vale mais a regra de gols como mandante).    Persistindo empate, os técnicos deverão realizar um novo jogo igual aos outros mas neste jogo irá prevalecer o "Golden Goal" (Gol de Ouro ou Morte Súbida), ou seja, quem fizer o primeiro gol estará classificado para a próxima fase, e os técnicos podem dar "quit" na partida.    Se por acaso este jogo for 0x0, joguem quantas vezes forem necessárias até alguém fizer o primeiro gol.
                                <b><u>O resultado final da partida a ser lançado será o agregado dos placares das partidas que forem realizadas.</u></b>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ligaeuropa circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento da Liga Europa </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                Composto por 16 times dividido em 5 fases.
                                <br><br>
                                Na fase de classificação os 16 times serão divididos em 4 grupos. Os times enfrentam times do mesmo grupo em turno e returno, formando 6 rodadas. Os 2 primeiros colocados de cada grupo, ao fim da 6ª rodada, estarão classificados para a próxima fase.
                                <br><br>
                                <span style="color:rgb(243,161,0);">Neste campeonato as esquipes classificadas irão se juntar aos 3os colocados dos grupos da Liga dos Campeões da Europa e irão fazer as 8as de final. </span>
                                <br><br>
                                <b>O Critério de desempate na primeira fase segue a seguinte ordem:</b>
                                <br>
                                - Pontos Ganhos
                                <br>
                                - Número de Vitórias
                                <br>
                                - Saldo de Gols
                                <br>
                                - Gols Pró
                                <br>
                                - Gols Contra
                                <br>
                                - Confronto Direto
                                <br>
                                - Jogo Extra
                                <br><br><br>
                                Nas fases seguintes os times se enfrentam em sistema de mata-mata, em jogos de ida e volta, sem qualquer tipo de vantagem para um dos times. Entende-se como mandante do primeiro jogo os times que jogaram este campeonato.
                                <br>
                                1º X 8o Melhor 3o da Liga dos Campeões da Europa
                                <br>
                                2º X 7o Melhor 3o da Liga dos Campeões da Europa
                                <br>
                                3º X 6o Melhor 3o da Liga dos Campeões da Europa
                                <br>
                                4º X 5o Melhor 3o da Liga dos Campeões da Europa
                                <br>
                                5º X 4o Melhor 3o da Liga dos Campeões da Europa
                                <br>
                                6º X 3o Melhor 3o da Liga dos Campeões da Europa
                                <br>
                                7º X 2o Melhor 3o da Liga dos Campeões da Europa
                                <br>
                                8º X 1o Melhor 3o da Liga dos Campeões da Europa
                                <br><br><br>
                                <b>O Critério de desempate na segunda fase segue a seguinte ordem:</b>
                                <br>
                                - Pontos Ganhos no confronto
                                <br>
                                - Saldo de gols
                                <br>
                                - Gols marcados na casa do adversário
                                <br>
                                - Jogo Extra
                                <br><br><br>
                                <b>Regra das fases eliminatórias:</b>
                                <br><br>
                                Nas Fases de mata-mata os jogos serão de ida e volta, devem ser realizados da mesma forma que foram na Fase de Classificação.    Os gols feitos como visitante, ou seja, os gols feitos na casa do mandante, terá peso para decidir quem se classificará se ao fim dos dois jogos houve igualdade nos placares.    Se empataram em tudo, saldo de gols e gols como mandante, deverá ser realizado um jogo extra da mesma forma que o primeiro jogo foi realizado (obs.: no jogo extra não vale mais a regra de gols como mandante).    Persistindo empate, os técnicos deverão realizar um novo jogo igual aos outros mas neste jogo irá prevalecer o "Golden Goal" (Gol de Ouro ou Morte Súbida), ou seja, quem fizer o primeiro gol estará classificado para a próxima fase, e os técnicos podem dar "quit" na partida.    Se por acaso este jogo for 0x0, joguem quantas vezes forem necessárias até alguém fizer o primeiro gol.
                                <b><u>O resultado final da partida a ser lançado será o agregado dos placares das partidas que forem realizadas.</u></b>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="copauefa circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento da Copa da Uefa </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                Composto por 56 times dividido em 6 fases.
                                <br><br>
                                Os times se enfrentam em jogos eliminatórios de acordo com o sorteio das chaves e será decidido em 2 jogos (ida e volta). Esta fórmula serve para todas as fases do campeonato.
                                <br><br><br>
                                <b>Regra das fases eliminatórias:</b>
                                <br><br>
                                Nas Fases de mata-mata os jogos serão de ida e volta, devem ser realizados da mesma forma que foram na Fase de Classificação.    Os gols feitos como visitante, ou seja, os gols feitos na casa do mandante, terá peso para decidir quem se classificará se ao fim dos dois jogos houve igualdade nos placares.    Se empataram em tudo, saldo de gols e gols como mandante, deverá ser realizado um jogo extra da mesma forma que o primeiro jogo foi realizado (obs.: no jogo extra não vale mais a regra de gols como mandante).    Persistindo empate, os técnicos deverão realizar um novo jogo igual aos outros mas neste jogo irá prevalecer o "Golden Goal" (Gol de Ouro ou Morte Súbida), ou seja, quem fizer o primeiro gol estará classificado para a próxima fase, e os técnicos podem dar "quit" na partida.    Se por acaso este jogo for 0x0, joguem quantas vezes forem necessárias até alguém fizer o primeiro gol.
                                <b><u>O resultado final da partida a ser lançado será o agregado dos placares das partidas que forem realizadas.</u></b>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="supercopa circle-effect">
                <div class="row">
                    <div class="container py-3 py-lg-5">
                        <h2 class="fables-second-text-color mb-5 font-weight-bold"> Regulamento da Super Copa da Uefa </h2>
                        <div class="container">
                            <p class="fables-forth-text-color font-15" style="text-align:justify">
                                Composto por 2 times dividido em 1 fase.
                                <br><br>
                                Os times se enfrentam em UM jogo eliminatório, participa de campeonato o atual campeão da Liga dos Campeões da Europa e o atual campeão da Liga Europa.
                                <br><br><br>
                                <b>Regra da fase eliminatória:</b>
                                <br><br>
                                Nesta Fase de mata-mata o jogo será apenas de ida, deve ser realizado da mesma forma que foram efetuados no campeonato que foi campreão. Se houver empate deverá ser realizado um jogo extra da mesma forma que o primeiro jogo foi realizado.  Persistindo empate na 2ª partida, os técnicos deverão realizar um novo jogo igual aos outros mas neste jogo irá prevalecer o "Golden Goal" (Gol de Ouro ou Morte Súbida), ou seja, quem fizer o primeiro gol estará classificado para a próxima fase, e os técnicos podem dar "quit" na partida.  Se por acaso este jogo for 0x0, joguem quantas vezes forem necessárias até alguém fizer o primeiro gol.
                                <b><u>O resultado final da partida a ser lançado será o agregado dos placares das partidas que forem realizadas.</u></b>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<br><br><br><br>
